/* Add basic styles for layout */
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* Space between sections */
  padding: 20px;
}

 nav{
  font-weight: bold;
  font-size: 24px;
  color: black;
  background-color: #f2f2f2;
  padding: 10px;
  width: 50%;
  text-align: center;
  border: 1px solid black;
}

main {
  font-size: 20px;
  color: #333;
  background-color: #e0e0e0;
  padding: 20px;
  border: 1px solid #ccc;
  width: 100%;
  text-align: center;
}
